main{
  display: grid;
  grid-template-rows: 80vh 15vh;
  grid-template-columns: 100vw;
  grid-template-areas: 
  "screen friend"
  "footer friend";
}

.screen{
  background-color: #5b5c5b;
  display: flex;
  align-items: center;
}

footer{
  background-color: 
  #292a2b;
  grid-area: footer;
  display: flex;
  align-items: center;
}

header{
  height: 5vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: text-color;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  font-family: sans-serif;
}

/* video{
  /* width: 50%;
  object-fit: contain; 
} */

.close-full-screen{
  position: fixed;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: red;
  cursor: pointer;
  color:white;
  margin: 2.5vw;
  padding:.5vw;
  z-index: 12;
}

button{
  cursor: pointer;
}
@keyframes text-color{
  from{
    color: white;
  }
  to{
    color: cyan;
  }
}

